.matchprofile-events {
    padding: 16px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.matchprofile-events h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
}

.matchprofile-events-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.matchprofile-event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
}

.matchevent-time {
    font-weight: 700;
    font-size: 1rem;
    color: #333;
}

.matchevent-details {
    font-size: 0.9rem;
    color: #444;
}

.event-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.matchprofile-event-item.home-event {
    color: #4D8951;
}

.matchprofile-event-item.away-event {
    color: #e91e63;
}

.player-name:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.player-name-main {
    font-weight: bold;
}

.player-name-assist {
    font-weight: normal;
}

.matchevent-details strong:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    cursor: pointer;
}


