.header {
  background-color: #4D8951;
  color: white;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
  margin-left: 300px;
  width: 250px;
  height: auto;
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1000px;
}

.search-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-logo:hover {
  transform: scale(1.1);
}

.league-search-logo2 {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.league-search-logo2:hover {
  transform: scale(1.1);
}
