.top-scorers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.top-scorers-table th,
.top-scorers-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.top-scorers-table th {
    font-weight: bold;
    background-color: #4D8951;
    color: white;
}

.top-scorers-table tr:hover {
    background-color: #f1f1f1;
}

.player-topscorers-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}

.team-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.top-scorers-table td {
    font-size: 16px;
}

.top-scorers-table .player-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.top-scorers-table .player-link a:hover {
    text-decoration: underline;
    color: black;
    transition: text-decoration 0.3s ease;
}



.top-scorers-table a {
    color: black !important;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .top-scorers-table th,
    .top-scorers-table td {
        padding: 8px;
    }

    .player-topscorers-photo {
        width: 35px;
        height: 35px;
    }

    .team-logo {
        width: 20px;
        height: 20px;
    }
}
