
.recent-fixtures-container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.recent-fixtures-header {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.recent-fixtures-table {
  width: 100%;
  border-collapse: collapse;
}

.recent-fixtures-table th,
.recent-fixtures-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.recent-fixtures-table th {
  font-weight: bold;
  color: #fff; 
  background-color: #4D8951; 
}

.recent-fixtures-table th:nth-child(1) { 
  background-color: #4D8951;
}

.recent-fixtures-table th:nth-child(2) {
  background-color: #4D8951; 
}

.recent-fixtures-table th:nth-child(3) {
  background-color: #4D8951; 
}

.recent-fixtures-table tr:hover {
  background-color: #f1f1f1;
}

.recent-fixtures-team-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recent-fixtures-team-logo {
  width: 30px;
  height: 30px;
}

.recent-fixtures-score {
  font-weight: bold;
  text-align: center;
  color: #333;
  background-color: #ffffff; 
  padding: 5px 10px;
  border-radius: 5px;
}

.recent-fixtures-league-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer; 
}

.recent-fixtures-league-flag,
.recent-fixtures-league-logo {
  width: 24px;
  height: auto;
}

.recent-fixtures-league-info span {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}


.recent-fixtures-league-info:hover {
  text-decoration: underline;
  text-decoration-color: black; 
}


.recent-fixtures-load-more-btn {
  display: block;
  margin: 20px auto; 
  padding: 12px 25px; 
  background: linear-gradient(135deg, #4D8951, #4D8951); 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.recent-fixtures-load-more-btn:hover {
  background: linear-gradient(135deg, #4D8951, #4D8951); 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.recent-fixtures-load-more-btn:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.4);
}

.recent-fixtures-bold {
  font-weight: bold; 
}
